# 511_04_data_processing_for_clustering

This notebook is for creating useful features from the 511 event dataset and processing null values. The features that are created by this notebook are:
- season (categorical)
- day/nightlight duration (numeric) 
- daylight ratio (numeric)
- weekend (binary)
- weekday (categorical)
- peak time duration (numeric)
- peak time ratio (numeric)

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# this function is for converting data type from string to list
def string_to_list(x):
    return  [int(_) for _ in x.strip("[]").replace("'","").split(", ") if _ != '']

In [3]:
# make sure that you run the '511_03_add_lion_attributes' notebook to get the '511_crash_lion_0629.csv'
# import the dataset
df_511_lion_crash = pd.read_csv('../data/cleaned_data/511_crash_lion_0629.csv', 
                                converters={'crash_list_900ft': string_to_list,
                                            'crash_list_1800ft': string_to_list,
                                            'crash_list_2700ft': string_to_list,
                                            'crash_list_3600ft': string_to_list})

In [4]:
df_511_lion_crash.shape

(25358, 39)

In [5]:
df_511_lion_crash.columns.tolist()

['event_id',
 'Event Type',
 'Organizati',
 'Facility N',
 'Direction',
 'City',
 'County',
 'State',
 'Create Tim',
 'Close Time',
 'Event Desc',
 'Responding',
 'Latitude',
 'Longitude',
 'Duration',
 'geometryId',
 'geometry',
 'buffer_geometry_900ft',
 'buffer_geometry_1800ft',
 'buffer_geometry_2700ft',
 'buffer_geometry_3600ft',
 'crash_list_900ft',
 'crash_list_1800ft',
 'crash_list_2700ft',
 'crash_list_3600ft',
 'segment_type',
 'roadway_type',
 'traffic_direction',
 'loc_status',
 'curve_flag',
 'radius',
 'street_width',
 'bike_lane',
 'bike_traffic_direction',
 'number_travel',
 'number_park',
 'number_total',
 'posted_speed',
 'snow_prior']

In [6]:
# drop unnecessary geometry columns
df_511_lion_crash = df_511_lion_crash.drop(['buffer_geometry_900ft',
                                            'buffer_geometry_1800ft',
                                            'buffer_geometry_2700ft',
                                            'buffer_geometry_3600ft'
                                           ], axis=1)

In [7]:
# drop unnecessary geometry columns
df_511_lion_crash = df_511_lion_crash.drop(['Direction',
                                            'Event Type',
                                            'Event Desc',
                                            'City',
                                            'Organizati',
                                            'Facility N',
                                            'State',
                                            'Responding',
                                            'Latitude',
                                            'Longitude'], axis=1)

In [8]:
df_511_lion_crash.columns

Index(['event_id', 'County', 'Create Tim', 'Close Time', 'Duration',
       'geometryId', 'geometry', 'crash_list_900ft', 'crash_list_1800ft',
       'crash_list_2700ft', 'crash_list_3600ft', 'segment_type',
       'roadway_type', 'traffic_direction', 'loc_status', 'curve_flag',
       'radius', 'street_width', 'bike_lane', 'bike_traffic_direction',
       'number_travel', 'number_park', 'number_total', 'posted_speed',
       'snow_prior'],
      dtype='object')

In [9]:
# rename columns
df_511_lion_crash = df_511_lion_crash.rename(columns={    
    'County':'county',
    'geometryId':'geometry_id',
    'Create Tim':'create_time',
    'Close Time':'close_time',
    'Duration':'duration',
    'number_total':'number_total_lane'
})

In [10]:
df_511_lion_crash.head(3)

,event_id,county,create_time,close_time,duration,geometry_id,geometry,crash_list_900ft,crash_list_1800ft,crash_list_2700ft,...,curve_flag,radius,street_width,bike_lane,bike_traffic_direction,number_travel,number_park,number_total_lane,posted_speed,snow_prior
0,0,New York,2019-09-30T23:45:00,2019-10-06T10:17:00,5 days 10:32:00.000000000,70dcf37c088c5bd4f487ed14e8f42168,POINT (-73.9452906062501 40.85016678170324),[4218698],"[4218698, 4220414, 4220401]","[4216810, 4218698, 4220414, 4220401, 4218408, ...",...,-1,0,40.0,-1,-1,4,-1,4,45,V
1,1,New York,2019-09-30T23:33:00,2019-10-05T10:01:00,4 days 10:28:00.000000000,70dcf37c088c5bd4f487ed14e8f42168,POINT (-73.9452906062501 40.85016678170324),[4218698],"[4218698, 4220401]","[4216810, 4218698, 4220401, 4217050, 4216342]",...,-1,0,40.0,-1,-1,4,-1,4,45,V
2,2,New York,2019-09-30T22:48:00,2019-10-04T14:47:00,3 days 15:59:00.000000000,873abb2e212cad46574849291152bc75,POINT (-73.93488010570451 40.84760698997727),"[4216938, 4220401, 4215847, 4217050]","[4216938, 4220401, 4217053, 4215847, 4217050, ...","[4218648, 4215947, 4216268, 4216938, 4220401, ...",...,-1,0,35.0,-1,-1,3,-1,3,50,V

In [11]:
# convert data type of create time, close time, and duration
df_511_lion_crash['create_time'] = pd.to_datetime(df_511_lion_crash['create_time'])
df_511_lion_crash['close_time'] = pd.to_datetime(df_511_lion_crash['close_time'])
df_511_lion_crash['duration'] = pd.to_timedelta(df_511_lion_crash['duration'],unit='h')

In [12]:
# convert unit of duration to 'hour'
df_511_lion_crash['duration'] = df_511_lion_crash['duration']/np.timedelta64(1, 'h')

In [13]:
# count crashes
df_511_lion_crash['crash_count_900ft'] = df_511_lion_crash['crash_list_900ft'].apply(lambda x: len(x))
df_511_lion_crash['crash_count_1800ft'] = df_511_lion_crash['crash_list_1800ft'].apply(lambda x: len(x))
df_511_lion_crash['crash_count_2700ft'] = df_511_lion_crash['crash_list_2700ft'].apply(lambda x: len(x))
df_511_lion_crash['crash_count_3600ft'] = df_511_lion_crash['crash_list_3600ft'].apply(lambda x: len(x))

Here, we filtered out 511 events that have durations more than 24 hours

In [14]:
## Filter the dataset
df_511_lion_crash_filtered = df_511_lion_crash[df_511_lion_crash['duration']<=24]

# 1. Season

In [15]:
# make a season column based on a month of the create Time

def season(x):
    if x.month==4 or x.month==5:
        return 'spring'
    elif x.month >=6 and x.month <= 9:
        return 'summer'
    elif x.month == 10 or x.month==11:
        return 'fall'
    else:
        return 'winter'
    
df_511_lion_crash_filtered['season'] = df_511_lion_crash_filtered['create_time'].apply(lambda x:season(x))

<ipython-input-15-8b70075ab537>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['season'] = df_511_lion_crash_filtered['create_time'].apply(lambda x:season(x))

In [16]:
df_511_lion_crash_filtered.head(3)

,event_id,county,create_time,close_time,duration,geometry_id,geometry,crash_list_900ft,crash_list_1800ft,crash_list_2700ft,...,number_travel,number_park,number_total_lane,posted_speed,snow_prior,crash_count_900ft,crash_count_1800ft,crash_count_2700ft,crash_count_3600ft,season
5,5,New York,2019-09-30 22:34:00,2019-10-01 05:33:00,6.983333,ab74ea678b8e611d7092fd2524e7a95c,POINT (-73.9712769049351 40.74429202496558),[],[],[4215525],...,3,-1,3,40,C,0,0,1,1,summer
8,8,New York,2019-09-30 19:12:00,2019-10-01 05:29:00,10.283333,a41affd9eccb1bb0c05406c1fe5d5745,POINT (-73.9453922039779 40.84189829169228),[4216889],[4216889],[4216889],...,2,-1,2,50,C,1,1,1,2,summer
9,9,New York,2019-09-29 19:47:00,2019-09-30 05:14:00,9.450000,a41affd9eccb1bb0c05406c1fe5d5745,POINT (-73.9453922039779 40.84189829169228),[],[],[4215191],...,2,-1,2,50,C,0,0,1,2,summer

# 2. day/nightlight duration of work zones

Below function is for workzone duration in daytime.

In [17]:
def calculate_day_duration(x):
    temporal_range = pd.date_range(start = x.create_time.replace(hour=0, minute=0, second=0),
                                   end = x.close_time.replace(hour=23, minute=59, second=0),
                                   freq='T')
    # print(x['event_id'])
    duration_list = [1 if t>x.create_time and t<=x.close_time else 0 for t in temporal_range]
    day_duration_temporal_range = [1 if (t.hour>=6 and t.hour<18) else 0 for t in temporal_range]
    return np.dot(np.array(duration_list), np.array(day_duration_temporal_range))/60

In [18]:
df_511_lion_crash_filtered['daylight_duration'] = df_511_lion_crash_filtered.apply(lambda x: calculate_day_duration(x), axis=1)

<ipython-input-18-d84dac15c59d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['daylight_duration'] = df_511_lion_crash_filtered.apply(lambda x: calculate_day_duration(x), axis=1)

In [19]:
df_511_lion_crash_filtered['nightlight_duration'] = df_511_lion_crash_filtered['duration'] - df_511_lion_crash_filtered['daylight_duration']

<ipython-input-19-e77dbf154ceb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['nightlight_duration'] = df_511_lion_crash_filtered['duration'] - df_511_lion_crash_filtered['daylight_duration']

In [20]:
df_511_lion_crash_filtered['daylight_ratio'] = df_511_lion_crash_filtered['daylight_duration']/df_511_lion_crash_filtered['duration']

<ipython-input-20-e9b40246ba57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['daylight_ratio'] = df_511_lion_crash_filtered['daylight_duration']/df_511_lion_crash_filtered['duration']

# 3. Weekend or not

In [21]:
def is_weekday(x):
    if x.weekday() == 5 or x.weekday() == 6:
        return 1
    else:
        return 0

In [22]:
df_511_lion_crash_filtered['create_time_weekend'] = df_511_lion_crash_filtered['create_time'].apply(lambda x: is_weekday(x))

<ipython-input-22-c6a2464808b5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['create_time_weekend'] = df_511_lion_crash_filtered['create_time'].apply(lambda x: is_weekday(x))

In [23]:
df_511_lion_crash_filtered['close_time_weekend'] = df_511_lion_crash_filtered['close_time'].apply(lambda x: is_weekday(x))

<ipython-input-23-77bfa8c52b61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['close_time_weekend'] = df_511_lion_crash_filtered['close_time'].apply(lambda x: is_weekday(x))

In [24]:
df_511_lion_crash_filtered.shape

(20718, 35)

# 4. Weekday

In [25]:
df_511_lion_crash_filtered['day_of_week']  = df_511_lion_crash_filtered['create_time'].dt.day_name()

<ipython-input-25-03b020f5ca41>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['day_of_week']  = df_511_lion_crash_filtered['create_time'].dt.day_name()

# 5. Peak Time duration

In [32]:
def calculate_peak_duration(x):
    temporal_range = pd.date_range(start = x.create_time.replace(hour=0, minute=0, second=0),
                                   end = x.close_time.replace(hour=23, minute=59, second=0),
                                   freq='T')
    # print(x['event_id'])
    duration_list = [1 if t>x.create_time and t<=x.close_time else 0 for t in temporal_range]
    peak_duration_temporal_range = [1 if (t.hour>=7 and t.hour<9) or (t.hour>=16 and t.hour<18) else 0 for t in temporal_range]
    return np.dot(np.array(duration_list), np.array(peak_duration_temporal_range))/60

In [33]:
df_511_lion_crash_filtered['peak_duration'] = df_511_lion_crash_filtered.apply(lambda x:calculate_peak_duration(x), axis=1)

<ipython-input-33-22c5f74291d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['peak_duration'] = df_511_lion_crash_filtered.apply(lambda x:calculate_peak_duration(x), axis=1)

In [34]:
df_511_lion_crash_filtered['peak_ratio'] = df_511_lion_crash_filtered['peak_duration']/df_511_lion_crash_filtered['duration']

<ipython-input-34-2a9a4348e3a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_lion_crash_filtered['peak_ratio'] = df_511_lion_crash_filtered['peak_duration']/df_511_lion_crash_filtered['duration']

In [37]:
df_511_lion_crash_filtered.columns

Index(['event_id', 'county', 'create_time', 'close_time', 'duration',
       'geometry_id', 'geometry', 'crash_list_900ft', 'crash_list_1800ft',
       'crash_list_2700ft', 'crash_list_3600ft', 'segment_type',
       'roadway_type', 'traffic_direction', 'loc_status', 'curve_flag',
       'radius', 'street_width', 'bike_lane', 'bike_traffic_direction',
       'number_travel', 'number_park', 'number_total_lane', 'posted_speed',
       'snow_prior', 'crash_count_900ft', 'crash_count_1800ft',
       'crash_count_2700ft', 'crash_count_3600ft', 'season',
       'daylight_duration', 'nightlight_duration', 'daylight_ratio',
       'create_time_weekend', 'close_time_weekend', 'day_of_week',
       'peak_duration', 'peak_ratio'],
      dtype='object')

In [40]:
# preparing dataset for dashboard
list_columns_dashboard = ['event_id','create_time', 'close_time', 'duration','crash_count_900ft', 'crash_count_1800ft',
       'roadway_type', 'number_total_lane', 'street_width', 'posted_speed', 'crash_count_2700ft', 'crash_count_3600ft', 'daylight_duration', 'nightlight_duration', 'day_of_week',
       'peak_duration', 'peak_ratio', 'daylight_duration', 'nightlight_duration', 'daylight_ratio']

In [44]:
dict_roadway_type = {
-1:'Unknown',    
1:'Street',
2:'Highway',
3:'Bridge',
4: 'Tunnel',
5: 'Boardwalk',
6: 'Path/Trail',
7: 'Step Street',
8: 'Driveway',
9: 'Ramp',
10: 'Alley',
11: 'Unknown',
12: 'Non-Physical Street Segment',
13: 'U-Turn',
14: 'Ferry Route'
}

df_511_dashboard = df_511_lion_crash_filtered[list_columns_dashboard]
df_511_dashboard['roadway_type'] = df_511_dashboard['roadway_type'].apply(lambda x: dict_roadway_type[int(x)])

<ipython-input-44-3df4e5b28c7d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_511_dashboard['roadway_type'] = df_511_dashboard['roadway_type'].apply(lambda x: dict_roadway_type[int(x)])

In [45]:
df_511_dashboard .to_csv('../data/cleaned_data/511_crash_lion_processed_with_null_0630.csv', index=False)

# 6 Null values

In [35]:
# replace null values to np.nan
df_511_lion_crash_filtered = df_511_lion_crash_filtered.replace(-1, np.nan)

In [36]:
# replace null values to np.nan
df_511_lion_crash_filtered = df_511_lion_crash_filtered.replace('-1', np.nan)

In [37]:
# replace null values to np.nan
df_511_lion_crash_filtered = df_511_lion_crash_filtered.fillna(np.nan)

In [38]:
# check the number of null values in each column
df_511_lion_crash_filtered.isnull().sum()

event_id                      0
county                        0
create_time                   0
close_time                    0
duration                      0
geometry_id                   0
geometry                      0
crash_list_900ft              0
crash_list_1800ft             0
crash_list_2700ft             0
crash_list_3600ft             0
segment_type                  0
roadway_type                  0
traffic_direction             0
loc_status                18872
curve_flag                18654
radius                        0
street_width                481
bike_lane                 19646
bike_traffic_direction    19647
number_travel               383
number_park               17925
number_total_lane           383
posted_speed               1867
snow_prior                   13
crash_count_900ft             0
crash_count_1800ft            0
crash_count_2700ft            0
crash_count_3600ft            0
season                        0
daylight_duration             0
nightlight_duration           0
daylight_ratio                1
create_time_weekend           0
close_time_weekend            0
day_of_week                   0
peak_duration                 0
peak_ratio                    1
dtype: int64

In [39]:
# drop the column which has more than 15000 null values
df_511_lion_crash_filtered = df_511_lion_crash_filtered.drop(['bike_lane',
                                                              'loc_status',
                                                              'curve_flag',
                                                              'bike_traffic_direction',
                                                              'number_park'], axis=1)

In terms of 'snow prior' column, most frequent value is 'C' whatever the roadway type is. So we will replace null values as 'C'

In [40]:
df_511_lion_crash_filtered.loc[df_511_lion_crash_filtered['snow_prior'].isnull()]['roadway_type'].unique()

array([1, 9], dtype=int64)

In [41]:
df_511_lion_crash_filtered.loc[df_511_lion_crash_filtered['roadway_type']==1]['snow_prior'].value_counts()

C    3822
V     628
S     530
H     416
Name: snow_prior, dtype: int64

In [42]:
df_511_lion_crash_filtered.loc[df_511_lion_crash_filtered['roadway_type']==9]['snow_prior'].value_counts()

C    1751
V     277
S       7
Name: snow_prior, dtype: int64

In [43]:
df_511_lion_crash_filtered['snow_prior'] = df_511_lion_crash_filtered['snow_prior'].fillna('C')

In [44]:
# make a list of columns that have missing values
target_columns = ['street_width',
                   'number_travel',
                   'number_total_lane',
                   'posted_speed']

In [45]:
# peak the avearge number of columns per each roadway type
df_attributes_mean_by_rwtype = df_511_lion_crash_filtered.groupby('roadway_type').mean()

In [46]:
df_attributes_mean_by_rwtype[target_columns].head()

              street_width  number_travel  number_total_lane  posted_speed
roadway_type
1                39.526306       2.427319           3.289925     25.849197
2                34.858378       2.942172           2.952225     47.154881
3                37.196028       3.531520           3.532383     39.809935
4                26.957555       2.000000           2.000000     32.283531
9                22.146812       1.652668           1.662383     47.361111

In [47]:
# create function that replace null values as the average value of columns per roadway type
def replace_null_values(x, column):
    if np.isnan(x[column]): 
        return int(df_attributes_mean_by_rwtype.loc[x['roadway_type'],column])
    else:
        return x[column]

In [48]:
# replace null values
for c in target_columns:
    df_511_lion_crash_filtered[c] = df_511_lion_crash_filtered.apply(lambda x:replace_null_values(x,c), axis=1)
    print(c)

street_width
number_travel
number_total_lane
posted_speed

Here, we found that the case that duration is 0, we will drop this row because the daylight ratio and peak time ratio is impossible to calculate

In [49]:
df_511_lion_crash_filtered.loc[df_511_lion_crash_filtered['peak_ratio'].isnull()]

,event_id,county,create_time,close_time,duration,geometry_id,geometry,crash_list_900ft,crash_list_1800ft,crash_list_2700ft,...,crash_count_3600ft,season,daylight_duration,nightlight_duration,daylight_ratio,create_time_weekend,close_time_weekend,day_of_week,peak_duration,peak_ratio
22554,23460,Kings,2018-12-10 11:57:00,2018-12-10 11:57:00,0.0,92c2d97cc4f73a2fcf93371e9d546782,POINT (-74.01681427725235 40.63540681610351),[],[],[],...,0,winter,0.0,0.0,NaN,0,0,Monday,0.0,NaN

In [50]:
df_511_lion_crash_filtered.loc[df_511_lion_crash_filtered['daylight_ratio'].isnull()]

,event_id,county,create_time,close_time,duration,geometry_id,geometry,crash_list_900ft,crash_list_1800ft,crash_list_2700ft,...,crash_count_3600ft,season,daylight_duration,nightlight_duration,daylight_ratio,create_time_weekend,close_time_weekend,day_of_week,peak_duration,peak_ratio
22554,23460,Kings,2018-12-10 11:57:00,2018-12-10 11:57:00,0.0,92c2d97cc4f73a2fcf93371e9d546782,POINT (-74.01681427725235 40.63540681610351),[],[],[],...,0,winter,0.0,0.0,NaN,0,0,Monday,0.0,NaN

In [51]:
df_511_lion_crash_filtered = df_511_lion_crash_filtered.loc[df_511_lion_crash_filtered['duration']>0]

In [52]:
# export the processed dataset
df_511_lion_crash_filtered.to_csv('../data/cleaned_data/511_crash_lion_processed_0630.csv', index=False)